<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar clientes</title>
  <link rel="stylesheet" href="/css/ListarCliente.css">
</head>
<body>

  <h1>Lista de Clientes</h1>

  <nav class="navegation">
      
    <a href="/">Home</a>
    <a href="/desenvolvedores">Desenvolvedores</a>
    <a href="https://github.com/ArturTome/Restaurante-ATV-Dev.-Web-4-unidade">Projeto</a>
     </nav>
  <a href="/cliente/cadastrar" class="cadastrar">Cadastrar cliente</a>
  <div class="tabela">
<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>Nº do cliente</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody class="corpo">
    {{#each clientes}}
    <tr>
      <td>{{id}}</td>
      <td><a href="/cliente/{{id}}">{{nome}}</a></td>
      <td>{{telefone}}</td>
      <td>{{email}}</td>
      <td>
        <a href="/cliente/{{id}}/editar"><button class="editar">Editar</button></a>
        <form action="/cliente/{{id}}/deletar" method="POST" style="display:inline;">
          <button type="submit" class="sdeletar">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<a href="/" class="voltar">❮ Voltar</a>

<script>
  let deletarBt = document.querySelectorAll(".sdeletar");
    deletarBt.forEach(botao =>{
      botao.addEventListener("click", function (e){
        if(!confirm("Tem certeza que quer deletar esse cliente?")){
          e.preventDefault();
        }
      });
    });
</script>
</script>
</body>
</html>








