<h1>Detalhes do Cliente</h1>

// feito pelo chat gpt, place holder


<p><b>ID:</b> {{cliente.id}}</p>
<p><b>Nome:</b> {{cliente.nome}}</p>
<p><b>Telefone:</b> {{cliente.telefone}}</p>
<p><b>Email:</b> {{cliente.email}}</p>

<a href="/cliente/{{cliente.id}}/editar">Editar</a> |
<a href="/cliente">Voltar</a>

