<h1>Lista de Clientes</h1>

// feito pelo chat gpt, place holder


<a href="/cliente/cadastrar">Cadastrar novo cliente</a>
<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each clientes}}
    <tr>
      <td>{{id}}</td>
      <td><a href="/cliente/{{id}}">{{nome}}</a></td>
      <td>{{telefone}}</td>
      <td>{{email}}</td>
      <td>
        <a href="/cliente/{{id}}/editar">Editar</a>
        <form action="/cliente/{{id}}/deletar" method="POST" style="display:inline;">
          <button type="submit">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href="/">Voltar</a>
