<h2>Editar Reserva</h2>

<form method="POST" action="/reserva/editar/{{reserva.id}}">

    <label>Cliente</label>
    <select name="cliente_id">
        {{#each clientes}}
        <option value="{{id}}" {{#if (eq id ../reserva.cliente_id)}}selected{{/if}}>
            {{nome}}
        </option>
        {{/each}}
    </select>

    <label>Mesa</label>
    <select name="mesa_id">
        {{#each mesas}}
        <option value="{{id}}" {{#if (eq id ../reserva.mesa_id)}}selected{{/if}}>
            Mesa {{numero}}
        </option>
        {{/each}}
    </select>

    <label>Data e Hora</label>
    <input type="datetime-local" name="data_hora" value="{{reserva.data_hora}}">

    <button type="submit">Salvar Alterações</button>
</form>
