<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listagem das Reservas</title>
  <link rel="stylesheet" href="/css/ListarCliente.css">
</head>
<body>
<h1>Lista de Reservas</h1>


<nav class="navegation">
      
    <a href="/">Home</a>
    <a href="/desenvolvedores">Desenvolvedores</a>
    <a href="https://github.com/ArturTome/Restaurante-ATV-Dev.-Web-4-unidade">Projeto</a>
     </nav>

<a href="/reserva/cadastrar" class="cadastrar">Nova reserva</a>
  <div class="tabela">
<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Mesa</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each reservas}}
    <tr>
      <td>{{id}}</td>
      <td>{{cliente}}</td>
      <td>{{mesa}}</td>
      <td>{{data_reserva}}</td>
      <td>
        <form action="/reserva/{{id}}/deletar" method="POST" style="display:inline;">
          <button type="submit" class="sdeletar">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<a href="/" class="voltar">❮ Voltar</a>

<script>
  let deletarBt = document.querySelectorAll(".sdeletar");
    deletarBt.forEach(botao =>{
      botao.addEventListener("click", function (e){
        if(!confirm("Tem certeza que quer deletar essa reserva?")){
          e.preventDefault();
        }
      });
    });
</script>
</body>
</html>



